.main-list li a {
    font-size: 1.1rem;
}

.main-list li {
    padding: 1rem;
}

.zestawy-section {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
}

.zestawy-header {
    margin-top: 10rem;
    text-align: center;
    font-size: 5rem;
    margin-left: 1rem;
    padding-left: 2rem;
    border-left: 5px solid #009EE2;
    font-family: 'Quicksand', sans-serif;
}

.bramy-container {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
}

.bramy-list {
    width: 100%;
    display: flex;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.bramy-title {
    margin-top: 10rem;
    font-size: 5rem;
    margin-left: 1rem;
    padding-left: 2rem;
    color: #1D1E18;
    border-left: 5px solid #009EE2;
    font-family: 'Quicksand', sans-serif;
}

.bramy-product {
    flex-basis: 40%;
    flex-grow: 1;
    margin: 1rem;
    padding: 1rem;
    border-left: 1px solid #CFD4C5;
    box-shadow: 0px 0px 10px 0px #CFD4C5;
    transition: .4s ease;
    overflow: hidden;
    max-height: 270px;
    cursor: pointer;
    outline: none;
    position: relative;
}

.bramy-product::after {
    content: '';
    font-size: 3rem;
    position: absolute;
    top: 15px;
    right: 15px;
    font-family: 'Abel', sans-serif;
    border-left: 5px solid #009EE2;
    border-top: 5px solid #009EE2;
    transform: rotateZ(-135deg);
    width: 15px;
    height: 15px;
}

.show {
    max-height: 1500px!important;
}

.bramy-product img {
    width: 100%;
}

.bramy-product h3 {
    font-size: 2.5rem;
    color: #009EE2;
    margin: 1rem 0;
    opacity: 0;
    transition: .4s ease-in-out;
    font-family: 'Quicksand', sans-serif;
}

.bramy-product ul {
    padding-left: 1.5rem;
    list-style-position: inside;
}

h3.bramy-product-title {
    opacity: 1!important;
}

.bramy-product p,
.bramy-product > ul > li {
    font-size: 1.5rem;
    padding: 1.5rem;
    transition: .4s ease-in-out;
    opacity: 0;
    color: #1D1E18;
    font-family: 'Lato', sans-serif;
}

.left-side {
    flex-basis: calc(50% - 2rem);
    flex-grow: 0;
}

@media(max-width:960px) {
    .bramy-product {
        flex-basis: 100%;
        max-height: 400px;
    }
}

@media(max-width:768px) {
    .main-list li {
        padding: 2rem;
    }
    .bramy-product {
        flex-basis: 100%;
        max-height: 330px;
    }
}

@media(max-width: 600px) {
    .bramy-product {
        max-height: 250px;
    }
}

@media(max-width: 400px) {
    .bramy-product {
        max-height: 200px;
    }
}

@media(orientation:landscape) and (max-width: 700px) {
    .bramy-product {
        max-height: 300px;
    }
}
