* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: black;
}

#page-header {
    width: 100%;
    padding: 10rem 0;
    display: flex;
    background-color: black;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    flex-direction: column;
}

#page-header .page-title {
    font-size: 6rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .2rem;
    color: white;
}



#page-header #movie-title {
    width: 50%;
    margin-top: 3rem;
    padding: 1rem;
    font-size: 3rem;
    outline: none;
}

#page-header #movie-title:focus {
    outline: none;
}

.movies-container {
    max-width: 1500px;
    margin: auto;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    background-color: black;
}

.movies-container .movie {
    flex-basis: 20%;
    max-width: 20%;
    flex-grow: 1;
    display: flex;
    background-color: white;
    margin: .5rem;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;


}

.movies-container .movie .movie-image {
    width: 100%;
}

.movies-container .movie .movie-header,
.movies-container .movie .movie-date {
    padding: 0 1.5rem;
    text-align: center;
    font-size: 1.8rem;
}

.movies-container .movie .movie-header {
    margin-top: 1.5rem;
}

.movies-container .movie .movie-date {
    margin-bottom: .5rem;
}

.movies-container .movie .movie-description {
    font-size: 1.2rem;
    text-align: center;
    padding: 1rem;

}

@media (max-width: 960px) {
    .movies-container .movie {
        max-width: 50%;
        flex-basis: 40%;

    }
}

@media (max-width: 767px) {
    .movies-container .movie {
        max-width: 100%;
        flex-basis: 100%;

    }
    #page-header #movie-title {
        width: 90%;
    }

}
